header {
  background: #5c3977;
  color: #fff;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border-radius: 0 0 4px 4px;
}

header h1 {
  font-size: 5rem;
  font-weight: 100;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section {
    margin: 1rem auto;
}