.orange {
    color: orange;
}

.lime-green {
    color: limegreen;
}

.magenta {
    color: magenta;
}

.white {
    color: #fff;
}

.grey {
    color: rgb(77, 77, 77);
}

.blue {
    color: #0d6efd;
}


